@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Tired+Of+Courier');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Pattaya');
@import url('https://fonts.googleapis.com/css?family=Patue+One');
@import url('https://fonts.googleapis.com/css?family=Rubik');






.App {
	text-align: center;
	margin-left:auto;
	margin-right: auto;
	padding-top: 5%;
	height: 630px;
	width: 300px;
	min-width: 290px;
    max-width: 310px;
    min-height: 620px;
	max-height: 640px;
	opacity: 0.9;
	background-image: url("./picture/bk.png");
	-ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}


.Logo{
	font-family: "Pattaya";
	color:black;
}



.Text{
	text-align: left;
	letter-spacing: 2px;
	line-height: 22pt;
	margin-left: 18%;
	margin-right: 18%;
	font-family:'Roboto Slab';
	color:black;
}

.Notice{
	text-align: left;
	margin-left: 18%;
	font-family:'Roboto Slab';
	color:black;
}

.Result{
	text-align: center;
	font-family:'Roboto Slab';
	color:black;
}

input[type="submit"] {
	font-family: 'Rubik';
	font-size: 15px;
	height: 30px;
	opacity: 0.8;
	background:#708090;
	color: white;
	width: 100px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
}


input[type="password"]{	
	font-family: 'Roboto Slab';
	font-size: 15px;
	background:white;
	text-align: center;
	width: 220px;
	height:30px ;
	-webkit-border-radius: 60px;
	-moz-border-radius: 60px;
	border-radius: 60px;
}



input[type="text"] {
	font-family: 'Roboto Slab';
	background:white;
	text-align: center;
	font-size: 15px;
	width: 220px;
	height:30px ;
	-webkit-border-radius: 60px;
	-moz-border-radius: 60px;
	border-radius: 60px;
}

button{
	font-family: 'Rubik';
	font-size: 15px;
	background:#708090;
	opacity: 0.8;
	color: white;
	width: 100px;
	height: 30px;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
}

.SubmitButton{
	font-family:'Roboto Slab';
	margin-bottom: 18%;
	font-size: 15px;
	background-color: "#FE434C";
	border-color: "transparent";
	border-radius: 20;
	background-image: url("./picture/uw.png");
	width: 100;
    height: 50;
}


.UW{
	background-image: url("./picture/uw2.png");
}

.Dropdown{
	font-family:'Roboto Slab';
	margin-left: auto;
	margin-right: auto;
	font-size: 15px;
	width: 200px;
	height:25px!important;

}