
.App {
	text-align: center;
	margin-left:auto;
	margin-right: auto;
	padding-top: 5%;
	height: 600px;
	width: 300px;
	min-width: 290px;
    max-width: 310px;
    min-height: 590px;
    max-height: 610px;
	background: -webkit-linear-gradient(top, #FFF23D 0%, #FF2205 100%); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(bottom, #FFF23D, #FF2205);  /*Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(bottom, #FFF23D, #FF2205); /* Firefox 3.6 - 15 */
	background: linear-gradient(to bottom, rgb(255,242,61, 0.5), rgb(255,34,5, 0.5)); /* 标准的语法（必须放在最后） */
}

.Logo{
	font-family: cursive;
	color:#082038;
}

.Text{
	text-align: left;
	margin-left: 18%;
	font-family:fantasy;
	color:#382008;
}

.Notice{
	text-align: left;
	margin-left: 18%;
	font-family:'Times New Roman', Times, serif;
	color:#382008;
}

.Result{
	text-align: center;
	font-family:'Times New Roman', Times, serif;
	color:#382008;
}

.SubmitButton{
	text-align: bottom;
	text-align: center;
	margin-bottom: 18%;
	background-color: "#FE434C";
	border-color: "transparent";
    border-radius: 20;
	width: 100;
    height: 50;
}

.Dropdown{
	margin-left: auto;
    margin-right: auto;
	height: 10px;
	width: 60%;
}